<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TheNewyorkTimes">
    <test name="TheNewyorkTimes" parallel = "methods" thread-count = "2">
		<parameter name="browser" value="chrome" />
        <classes>
            <class name="com.newyorktimes.ITtests.Login_Test"/>        
        </classes>
    </test>
</suite>
